<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.sas.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.sas.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.sas.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orders</servlet-name>
        <servlet-class>com.sas.orders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>com.sas.order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userorders</servlet-name>
        <servlet-class>com.sas.userorders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customerorders</servlet-name>
        <servlet-class>com.sas.Customerorders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderproduct</servlet-name>
        <servlet-class>com.sas.orderproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovedOrders</servlet-name>
        <servlet-class>com.sas.ApprovedOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignedOrders</servlet-name>
        <servlet-class>com.sas.AssignedOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Billdata</servlet-name>
        <servlet-class>com.sas.Billdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Packeditems</servlet-name>
        <servlet-class>com.sas.Packeditems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMyOrders</servlet-name>
        <servlet-class>com.sas.ViewMyOrders</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orders</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userorders</servlet-name>
        <url-pattern>/userorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customerorders</servlet-name>
        <url-pattern>/Customerorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderproduct</servlet-name>
        <url-pattern>/orderproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovedOrders</servlet-name>
        <url-pattern>/ApprovedOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignedOrders</servlet-name>
        <url-pattern>/AssignedOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Billdata</servlet-name>
        <url-pattern>/Billdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Packeditems</servlet-name>
        <url-pattern>/Packeditems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMyOrders</servlet-name>
        <url-pattern>/ViewMyOrders</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
